img.bg {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center;
  width: 705px;
  height: 705px;
  z-index: -1;
  opacity: 0.9;
  clip-path: circle(0px at center);
  transition: clip-path 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

a:hover img {
  clip-path: circle(350px at center);
}

img.bg.studiowave {
  background-image: url(bg/studiowave.png);
}
img.bg.adventure {
  background-image: url(bg/adventure.png);
}

video.bg {
  object-fit: cover;
  object-position: center;
}

@media (pointer: coarse), (max-width: 450px) {
  a:hover img {
    display: none;
  }
}
