img.bg {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 101vw;
  height: 101vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
  display: none;
}

a:hover img {
  /* display: block; */
  opacity: 0.9;
}

img.bg.studiowave {
  background-image: url(images/studiowave.png);
}
img.bg.adventure {
  background-image: url(images/adventure.png);
}

@media (pointer: coarse), (max-width: 450px) {
  a:hover img {
    display: none;
  }
}
