body {
  margin: 0;
  overflow-x: hidden;
}

h1, h2, h3, p {
  -webkit-margin-after: 0.5em;
  -webkit-margin-before: 0.5em;
}

header, footer p {
  position: fixed;
  z-index: 3;
  --edgeMargin: 40px;
}

header {
  top: var(--edgeMargin);
  left: var(--edgeMargin);
}

footer p:first-child {
  bottom: var(--edgeMargin);
  left: var(--edgeMargin);
}

footer p:last-child {
  bottom: var(--edgeMargin);
  right: var(--edgeMargin);
  cursor: pointer;
}

.photo-container {
  margin: 0;
}

div {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: contrast(90%);
  background-color: rgba(130, 130, 130, 0.1);
}

.photo-container.grid {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-around;
}

div.grid {
  background-attachment: initial;
  margin: 70px 35px;
  width: calc(var(--x) + 330px);
  height: calc(var(--y) + 270px);
  transform: translate(var(--x), var(--y));
}

div.grid:hover {
  z-index: 2;
  filter: contrast(95%);
  cursor: crosshair;
}

div.grid:first-child {
  margin-left: 100px;
}

div.grid.zoom {
  margin: 20px 10px;
  width: calc((var(--x) + 340px) * 2.4);
  height: calc((var(--y) + 260px) * 2.4);
}


@media (min-width: 1520px) {
  div.grid {
    margin: 80px 45px;
  }
}


@media (max-width: 1024px) {
  div.grid {
    transform: translate(calc(var(--x) / 1.5), calc(var(--y) / 2));
  }
  div.grid.zoom {
    width: calc((var(--x) + 340px) * 2);
    height: calc((var(--y) + 260px) * 2);
  }
}


@media (max-width: 769px) {
  header, footer p {
    --edgeMargin: 30px;
  }
  div.grid {
    margin: 55px 30px;
    width: calc(var(--x) + 280px);
    height: calc(var(--y) + 230px);
    transform: translate(calc(var(--x) / 2), calc(var(--y) / 3));
  }
  div.grid.zoom {
    width: calc((var(--x) + 290px) * 1.8);
    height: calc((var(--y) + 220px) * 1.8);
  }
}


@media (max-width: 575px) {
  div.grid {
    margin: 45px 30px;
    transform: translate(calc(var(--x) / 2), calc(var(--y) / 5));
  }
  div.grid:first-child {
   margin-left: 50px;
  }
}


@media (pointer: coarse) {
  div {
		background-attachment: initial;
  }
  a#grid_toggle:hover {
    color: #000;
    background-color: #eee;
  }
}
