body {
  margin: 0px;
}

header {
  position: fixed;
  top: 40px;
  left: 40px;
}

section {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

footer p:first-child {
  position: fixed;
  bottom: 40px;
  left: 40px;
}

footer p:last-child {
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
}

h1, h2, h3, p {
  -webkit-margin-after: 0.5em;
  -webkit-margin-before: 0.5em;
}

a {
  background-color: rgb(238, 238, 238, 0.9);
}

body.grid {
  margin-left: auto;
  margin-right: auto;
  margin: 40px;
  text-align: center;
}

section.grid {
  display: inline-block;
  background-position: initial;
  background-attachment: initial;
  width: 300px;
  height: 200px;
  margin: 10px;
}

@media (max-width: 750px) {
  header {
    top: 30px;
    left: 30px;
  }
  footer p:first-child {
    bottom: 30px;
    left: 30px;
  }
  footer p:last-child {
    bottom: 30px;
    right: 30px;
  }
  section.grid {
    width: 270px;
    height: 180px;
  }
}

@media (pointer: coarse) {
  section {
		background-attachment: initial;
		/* height: 90vh;
	  width: 90vw;
		margin-top: 5vw;
		margin-bottom: 5vw;
		margin-left: auto;
		margin-right: auto; */
  }
  a.grid_toggle:hover {
    color: #000;
    background-color: #eee;
  }
}
