body {
  margin: 0;
}

h1, h2, h3, p {
  -webkit-margin-after: 0.5em;
  -webkit-margin-before: 0.5em;
}

a {
  background-color: rgb(238, 238, 238, 0.9);
}

header {
  position: fixed;
  top: 40px;
  left: 40px;
}

footer p:first-child {
  position: fixed;
  bottom: 40px;
  left: 40px;
}

footer p:last-child {
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
}

div {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body.grid {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-around;
}

div.grid {
  background-attachment: initial;
  margin: 30px 30px 50px 30px;
  --gridWidth: 300px;
  --gridHeight: 200px;
  width: var(--gridWidth);
  height: var(--gridHeight);
}

div.grid:nth-child(3n+1) {
  width: calc(var(--gridWidth) * 1.4);
  height: calc(var(--gridHeight) * 1.5);
}
div.grid:nth-child(5n-6) {
  width: calc(var(--gridWidth) * 1.1);
  height: calc(var(--gridHeight) * 1.7);
}
div.grid:nth-child(7n+5) {
  width: calc(var(--gridWidth) * 0.9);
  height: calc(var(--gridHeight) * 1.4);
}
div.grid:nth-child(4n+3) {
  width: calc(var(--gridWidth) * 1.2);
  height: calc(var(--gridHeight) * 1.1);
}

div.grid.zoom {
  margin: 10px;
  width: calc(var(--gridWidth) * 2.7);
  height: calc(var(--gridHeight) * 2.7);
}

/* div.grid:hover {
  margin: 10px;
  width: calc(var(--gridWidth) * 2.5);
  height: calc(var(--gridHeight) * 2.5);
  transition-delay: 0.25s;
} */


@media (max-width: 769px) {
  header {
    top: 30px;
    left: 30px;
  }
  footer p:first-child {
    bottom: 30px;
    left: 30px;
  }
  footer p:last-child {
    bottom: 30px;
    right: 30px;
  }
  div.grid {
    margin: 25px;
    --gridWidth: 250px;
    --gridHeight: 170px;
  }
  div.grid:nth-child(2n+2) {
    margin-left: auto;
  }
  div.grid:nth-child(4n+3) {
    margin-left: auto;
  }
  div.grid:nth-child(3n+1) {
    margin-right: auto;
  }
  div.grid:nth-child(5n-1) {
    margin-left: auto;
  }
  div.grid:nth-child(2n-3) {
    margin-right: auto;
  }
  div.grid:nth-child(7n-5) {
    margin-right: auto;
  }
  div.grid.zoom {
    margin: 25px;
    width: calc(var(--gridWidth) * 2.4);
    height: calc(var(--gridHeight) * 2.5);
  }
}


@media (max-width: 375px) {

  header p,
  footer p {
    font-size: 13px;
  }

}


@media (pointer: coarse) {
  div {
		background-attachment: initial;
  }
  a#grid_toggle:hover {
    color: #000;
    background-color: #eee;
  }
}
