body {
  font-family: helvetica neue, helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #333;
  -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%;
  margin: 45px;
}

h1::selection, span.stretch::selection, h2::selection, h3::selection, p::selection, a::selection {
  background: #f4cb3d;
}

h1, h2, h3, p {
  -webkit-margin-after: 0;
}

header p {
  line-height: 1.5;
}

a, a:visited {
  text-decoration: none;
  color: #333;
  display: inline-block;
  background-color: #eee;
  padding: 0 0.2em;
  line-height: normal;
}

a:hover {
  color: #fff;
  background-color: #333;
}

@media (max-width: 769px) {
  body {
    font-size: 13px;
    margin: 30px;
  }
}

span.stretch {
  display: inline-block;
  transform-origin: top left;
  transition-duration:  0.05s;
}
@media (pointer: coarse) {
  span.stretch {
    transition-duration:  0.15s;
  }
}
