---
import DarkModeToggle from "./DarkModeToggle.astro";

const currentPageIs = (path: string) => [path, `${path}/`].includes(Astro.url.pathname);
---

<header
  class="text-[2.2em] leading-[1.13] uppercase text-justify [text-align-last:justify] md:text-[3.4em]"
>
  <nav class="inline [&_h1]:inline">
    {
      // Mapping causes some problems with spaces inside elements, which has an effect on the link underlines
      currentPageIs("/") ? (
        <h1 aria-current="page">Neef Rehman Creative Technologist</h1>
      ) : (
        // DO NOT FORMAT! Astro preserves newline characters as spaces
        <a data-triggers-nav-transition="true" href="/">Neef Rehman Creative Technologist</a>
      )
    }{" "}
    {
      currentPageIs("/photos") ? (
        <h1 aria-current="page">Photography</h1>
      ) : (
        // DO NOT FORMAT! Astro preserves newline characters as spaces
        <a data-triggers-nav-transition="true" href="/photos">Photography</a>
      )
    }
  </nav>{" "}
  <DarkModeToggle />
</header>
