@font-face {
	font-family: 'Helvetica Neue Extended';
	src: url('helveticaneue-extended-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Extended';
	src: url('helveticaneue-boldext-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
