---
import WordOrbit from "components/WordOrbit.astro";
import Layout from "layouts/Layout.astro";
---

<Layout>
  <meta slot="head" name="robots" content="noindex" />

  <h2 class="sr-only">404 — Page not found</h2>
  <WordOrbit words={Array(60).fill("404")} cursorContentsInWell="404" aria-hidden="true" />
</Layout>
