body {
	margin: 0;
	background: linear-gradient(-165deg, #FA846E 0%, #FB905F 30%, #FDAB3D 100%) no-repeat;
	background-attachment: fixed;
	background-size: 180% 180%;
	animation: Gradient 6s ease infinite;
	height: 100vh;
	overflow: hidden;
}

@keyframes Gradient {
	0% {
		background-position: 0% 20%
	}
	50% {
		background-position: 100% 20%
	}
	100% {
		background-position: 0% 20%
	}
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#logo {
	transform-style: preserve-3d;
	margin-bottom: 2vh;
	padding: 2%;
}

.logo_image {
	max-width: 83vw;
	display: block;
	overflow: visible;
}

.purple {
	max-width: 83.4vw;
}

.yellow {
	transform: translateZ(50px);
	position: absolute;
}

.black {
	transform: translateZ(25px);
	position: absolute;
}