@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Lighten bundle by removing some of tailwind's default theme */
  --color-*: initial;
  --font-*: initial;
  --shadow-*: initial;
  --inset-shadow-*: initial;
  --drop-shadow-*: initial;
  --blur-*: initial;
  --perspective-*: initial;
  --aspect-*: initial;
  --ease-*: initial;
  --animate-*: initial;

  --breakpoint-xxl: 1440px;
}

@layer base {
  @font-face {
    font-family: "Fleuron";
    font-weight: normal;
    font-display: block;
    src: url("/fonts/fleuronregular.woff2");
  }
  
  :root {
    --base-color: unset; /* This is set in `Layout.astro` */

    --primary-color-light: hsl(var(--base-color), 90%);
    --primary-color-light-transparent: hsla(var(--base-color), 90%, 30%);
    --primary-color-mid: hsl(var(--base-color), 46%);
    --primary-color-mid-transparent: hsla(var(--base-color), 46%, 30%);
    --primary-color-dark: hsl(var(--base-color), 10%);
    --primary-color-dark-transparent: hsla(var(--base-color), 10%, 30%);
  
    --text-color: var(--primary-color-dark);
    --background-color: var(--primary-color-light);
    --opposite-mode-background: var(--primary-color-dark);
    --opposite-mode-background-transparent: var(--primary-color-dark-transparent);
  }
  
  :root.dark {
    color-scheme: dark only;
    --text-color: var(--primary-color-light);
    --background-color: var(--primary-color-dark);
    --opposite-mode-background: var(--primary-color-light);
    --opposite-mode-background-transparent: var(--primary-color-light-transparent);
  }

  html,
  body {
    height: 100%; /* Give scrollbar to all pages to avoid jump */
    isolation: isolate;
  }
  
  body {
    margin: clamp(18px, 2.2vw, 40px);
    font-family: "Fleuron", helvetica neue, arial, sans-serif;
    font-size: clamp(15px, 15px + 0.24vw, 19px);
    line-height: 1.38;
    color: var(--text-color);
    background-color: var(--background-color);
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    transition: background-color 200ms ease-in-out;

    overflow-x: hidden; /* HACK: this avoids other user's cursors widening the screen, as they are positioned absolutely (so they can maintain their position relative to the page when we scroll) */
  }
  
  *::selection {
    background-color: var(--opposite-mode-background-transparent);
  }

  *:focus {
    outline: none;
  }

  *:focus-visible {
    outline: auto;
  }
  
  button,
  a,
  a:visited {
    cursor: pointer;
    text-decoration: underline;
    color: var(--text-color);
  }

  i {
    font-style: italic;
  }

  img {
    object-fit: cover;
    height: 100%;
  }
  
  @media (pointer: fine) {
    button:hover,
    a:hover,
    a:visited:hover {
      font-style: italic;
      color: var(--background-color);
    }
  }  
}
