@font-face {
  font-family: "Untitled Sans";
  font-weight: normal;
  font-display: block;
  src: url("../fonts/UntitledSansWeb-Regular.woff2");
}

@font-face {
  font-family: "Untitled Sans";
  font-weight: bold;
  font-display: block;
  src: url("../fonts/UntitledSansWeb-Medium.woff2");
}

:root {
  --textColor: #333333;
  --backgroundColor: #ffffff;
  --linkBackgroundColor: #eeeeee;
  --linkBackgroundColor2: rgba(225, 225, 225, 0.8);
  --oppositeModeBackground: #212121;
}

:root.dark {
  --textColor: #ffffff;
  --backgroundColor: #212121;
  --linkBackgroundColor: #4a4a4a;
  --linkBackgroundColor2: rgba(225, 225, 225, 0.2);
  --oppositeModeBackground: #ffffff;
  /* safari fix */
}

:root.dark body {
  min-height: 100vh;
}

body {
  font-family: "Untitled Sans", helvetica neue, helvetica, arial, sans-serif;
  font-size: 15px;
  line-height: 1.3;
  color: var(--textColor);
  background-color: var(--backgroundColor);
  -webkit-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  margin: 30px 40px;
}

body h1, body h2, body h3 {
  font-weight: bold;
}

body h1 a, body h2 a, body h3 a {
  text-decoration: underline;
  padding: 0;
  background: none;
}

body h1 a:hover, body h2 a:hover, body h3 a:hover {
  background: none;
}

body h1 {
  font-size: 3em;
  line-height: 1.2;
  margin-right: 1em;
  margin-bottom: 10px;
  -webkit-transform: scale(1.02, 1);
          transform: scale(1.02, 1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

body h2, body h3 {
  font-size: 1.34em;
  margin-bottom: 15px;
}

body p {
  line-height: 1.6;
}

body a, body a:visited {
  display: inline-block;
  color: var(--textColor);
}

body a:hover, body a:visited:hover {
  color: var(--backgroundColor);
}

body a.button, body a:visited.button {
  text-decoration: none;
  padding: 0 0.2em;
  line-height: 1.3;
  background-color: var(--linkBackgroundColor);
  background-color: var(--linkBackgroundColor2);
}

body a.button:hover, body a:visited.button:hover {
  background-color: var(--textColor);
}

body a:not(.button):hover, body a:visited:not(.button):hover {
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
}

body header, body section {
  margin-bottom: 80px;
}

body header nav {
  margin-top: 15px;
}

body header nav a:not(:last-child) {
  margin-right: 0.66em;
}

body *::-moz-selection {
  color: #f4cb3d;
}

body *::selection {
  color: #f4cb3d;
}

body *:focus {
  outline: none;
}

@media (max-width: 769px) {
  body {
    margin: 25px 30px;
    font-size: 14px;
  }
  body h1 {
    font-size: 2.44em;
  }
  body header {
    margin-bottom: 45px;
  }
  body nav {
    margin-top: 12px;
  }
}

.dark-mode-button {
  cursor: pointer;
}

.dark-mode-button::before {
  content: "dark";
}

:root.dark .dark-mode-button::before {
  content: "light";
}

@media (pointer: coarse) {
  a:not([href]):hover {
    color: var(--textColor);
    background-color: var(--linkBackgroundColor);
    background-color: var(--linkBackgroundColor2);
  }
}
