header div {
  display: -webkit-inline-box;
  display: inline-flex;
  overflow: hidden;
}

header div:nth-child(odd) span {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

header div:nth-child(even) span {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}

header div span {
  -webkit-transition: -webkit-transform 1600ms cubic-bezier(0, 0.9, 0.1, 1);
  transition: -webkit-transform 1600ms cubic-bezier(0, 0.9, 0.1, 1);
  transition: transform 1600ms cubic-bezier(0, 0.9, 0.1, 1);
  transition: transform 1600ms cubic-bezier(0, 0.9, 0.1, 1), -webkit-transform 1600ms cubic-bezier(0, 0.9, 0.1, 1);
}

header div span.loaded {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-duration: 3600ms;
          transition-duration: 3600ms;
}

header div:last-child {
  display: initial;
}

header div:last-child span {
  position: relative;
}

header div:last-child span::after {
  content: "";
  display: block;
  background: var(--backgroundColor);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 1600ms cubic-bezier(0, 0.9, 0.1, 1);
  transition: -webkit-transform 1600ms cubic-bezier(0, 0.9, 0.1, 1);
  transition: transform 1600ms cubic-bezier(0, 0.9, 0.1, 1);
  transition: transform 1600ms cubic-bezier(0, 0.9, 0.1, 1), -webkit-transform 1600ms cubic-bezier(0, 0.9, 0.1, 1);
}

header div:last-child span.loaded::after {
  -webkit-transform: scale3d(1, 0, 1);
          transform: scale3d(1, 0, 1);
  -webkit-transition-duration: 3600ms;
          transition-duration: 3600ms;
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
}

header h1 {
  text-align: justify;
  text-align-last: justify;
  text-transform: uppercase;
}

header h1 nav {
  display: inline;
}

header h1::after {
  content: "";
  display: inline-block;
  width: 100%;
}

main section.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.6em;
  margin-bottom: 100px;
  position: relative;
  overflow-y: hidden;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: -webkit-transform 1600ms cubic-bezier(0, 0.9, 0.1, 1);
  transition: -webkit-transform 1600ms cubic-bezier(0, 0.9, 0.1, 1);
  transition: transform 1600ms cubic-bezier(0, 0.9, 0.1, 1);
  transition: transform 1600ms cubic-bezier(0, 0.9, 0.1, 1), -webkit-transform 1600ms cubic-bezier(0, 0.9, 0.1, 1);
}

main section.info::after {
  content: "";
  display: block;
  background: var(--backgroundColor);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.9, 0, 0.6, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.9, 0, 0.6, 1);
  transition: transform 400ms cubic-bezier(0.9, 0, 0.6, 1);
  transition: transform 400ms cubic-bezier(0.9, 0, 0.6, 1), -webkit-transform 400ms cubic-bezier(0.9, 0, 0.6, 1);
}

main section.info.loaded {
  -webkit-transform: none;
          transform: none;
  -webkit-transition-duration: 3600ms;
          transition-duration: 3600ms;
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

main section.info.loaded::after {
  -webkit-transform: scale3d(1, 0, 1);
          transform: scale3d(1, 0, 1);
  -webkit-transition-duration: 700ms;
          transition-duration: 700ms;
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

main section.info div h2 {
  font-size: 1.34em;
  margin-bottom: 1.2em;
  color: var(--midGrey);
}

@media (max-width: 769px) {
  main section.info div h2 {
    margin-bottom: 0.8em;
  }
}

main section.info div p {
  font-size: 1.34em;
  font-weight: bold;
  line-height: 1.5;
}

main section.info div p:not(:last-child) {
  margin-bottom: 0.8em;
}

main section.info details summary a {
  color: var(--midGrey);
}

main section.info details summary a:hover {
  color: var(--backgroundColor);
}

main section.info details summary::-webkit-details-marker {
  display: none;
}

main section.info details[open] summary {
  display: none;
}

main section.info details .see-less-button {
  color: var(--midGrey);
}

@media (pointer: fine) {
  main section.info details .see-less-button:hover, main section.info details .see-less-button:hover::selection {
    color: var(--backgroundColor);
  }
}

main section.info details .see-less-button::selection {
  background: none;
  color: var(--midGrey);
}

@media (max-width: 1140px) {
  main section.info {
    grid-gap: 3.2em;
  }
}

@media (max-width: 980px) {
  main section.info {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3.4em;
  }
}

@media (max-width: 769px) {
  main section.info {
    grid-gap: 2.8em;
    margin-bottom: 70px;
  }
}

@media (max-width: 580px) {
  main section.info {
    grid-template-columns: repeat(3, 75%);
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  main section.info div {
    scroll-snap-align: start;
  }
  main section.info ::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

@media (max-width: 420px) {
  main section.info {
    grid-template-columns: repeat(3, 84%);
    grid-gap: 2.1em;
  }
}

main section.work {
  margin-bottom: 100px;
}
