details {
  margin-top: 1.6em;
}

details summary {
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

details summary h3 {
  text-decoration: underline;
  display: inline;
}

details summary h3::after {
  font-size: 0.7em;
}

details summary::-webkit-details-marker {
  display: none;
}

details[open] summary h3::after {
  content: "[close]";
}

main section h1 {
  margin: 70px 0 50px 0;
}

main section div.preview-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
          justify-content: start;
}

main section div.preview-container a {
  padding: 0;
  background: none;
  transition: -webkit-transform 70ms;
  transition: transform 70ms;
  transition: transform 70ms, -webkit-transform 70ms;
}

main section div.preview-container a:not(:last-child) {
  margin-right: 60px;
}

main section div.preview-container a img {
  width: 300px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}

main section div.preview-container a div.project-text-container {
  margin-top: -3px;
  padding: 10px;
  background-color: var(--linkBackgroundColor);
  background-color: var(--linkBackgroundColor2);
}

main section div.preview-container a div.project-text-container h4 {
  font-size: 1.27em;
}

main section div.preview-container a div.project-text-container p {
  margin-top: 0.4em;
}

main section div.preview-container a:hover {
  background: none;
  -webkit-transform: translate(0, -6px);
          transform: translate(0, -6px);
}
