div.work-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (17em)[auto-fill];
      grid-template-columns: repeat(auto-fill, 17em);
  grid-gap: 3.6em;
}

div.work-grid a {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  transition: -webkit-transform 180ms;
  transition: transform 180ms;
  transition: transform 180ms, -webkit-transform 180ms;
  -webkit-transform-origin: center;
          transform-origin: center;
  text-decoration: none;
}

div.work-grid a img, div.work-grid a video {
  width: 100%;
  height: 16em;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: contrast(95%);
          filter: contrast(95%);
  transition: -webkit-transform 1900ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
  transition: transform 1900ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
  transition: transform 1900ms cubic-bezier(0.45, 0.05, 0.55, 0.95), -webkit-transform 1900ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

div.work-grid a .project-text-container {
  height: 100%;
  padding: 10px;
  background-color: var(--linkBackgroundColor-fallback);
  background-color: var(--linkBackgroundColor);
  transition: -webkit-transform 260ms;
  transition: transform 260ms;
  transition: transform 260ms, -webkit-transform 260ms;
}

div.work-grid a .project-text-container h2 {
  margin-bottom: 0.2em;
}

div.work-grid a.work-item {
  position: relative;
}

div.work-grid a.work-item::after {
  content: ":-)";
  color: var(--textColor);
  font-size: 6em;
  font-weight: bold;
  position: absolute;
  top: 37%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

div.work-grid a:hover, div.work-grid a.intersected {
  color: var(--backgroundColor);
  -webkit-transform: translate(0, -6px);
          transform: translate(0, -6px);
}

div.work-grid a:hover .project-text-container, div.work-grid a.intersected .project-text-container {
  background-color: var(--textColor);
  -webkit-transform: translate(0, -1.5px);
          transform: translate(0, -1.5px);
}

div.work-grid a:hover .project-text-container h2, div.work-grid a.intersected .project-text-container h2 {
  -webkit-transform: skew(-11deg);
          transform: skew(-11deg);
}

div.work-grid a:hover img, div.work-grid a:hover video {
  -webkit-transform: translate(0, -100vh);
          transform: translate(0, -100vh);
  transition: -webkit-transform 70s 15s;
  transition: transform 70s 15s;
  transition: transform 70s 15s, -webkit-transform 70s 15s;
}

@media (max-width: 980px) {
  div.work-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;
  }
  div.work-grid a.work-item img, div.work-grid a.work-item video {
    height: 15em;
  }
}

@media (max-width: 860px) {
  div.work-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 3.6em;
  }
}

@media (max-width: 700px) {
  div.work-grid {
    grid-gap: 2.8em;
  }
}

@media (max-width: 560px) {
  div.work-grid {
    grid-gap: 2.4em;
  }
  div.work-grid a.work-item img, div.work-grid a.work-item video {
    height: 13.5em;
  }
}

@media (max-width: 450px) {
  div.work-grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 2.6em;
  }
  div.work-grid a.work-item img, div.work-grid a.work-item video {
    height: 14.5em;
  }
}

@media (max-width: 380px) {
  div.work-grid a.work-item img, div.work-grid a.work-item video {
    height: 13.5em;
  }
}
