div.work-grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.6em;
}

div.work-grid div.transition {
  overflow-y: hidden;
  position: relative;
  -webkit-transform: translate3d(0, 50%, 0);
          transform: translate3d(0, 50%, 0);
  -webkit-transition: -webkit-transform 1500ms cubic-bezier(0, 0.9, 0.1, 1);
  transition: -webkit-transform 1500ms cubic-bezier(0, 0.9, 0.1, 1);
  transition: transform 1500ms cubic-bezier(0, 0.9, 0.1, 1);
  transition: transform 1500ms cubic-bezier(0, 0.9, 0.1, 1), -webkit-transform 1500ms cubic-bezier(0, 0.9, 0.1, 1);
}

div.work-grid div.transition::after {
  content: "";
  display: block;
  background: var(--backgroundColor);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.9, 0, 0.6, 1);
  transition: -webkit-transform 300ms cubic-bezier(0.9, 0, 0.6, 1);
  transition: transform 300ms cubic-bezier(0.9, 0, 0.6, 1);
  transition: transform 300ms cubic-bezier(0.9, 0, 0.6, 1), -webkit-transform 300ms cubic-bezier(0.9, 0, 0.6, 1);
}

div.work-grid div.transition.loaded {
  -webkit-transform: none;
          transform: none;
  -webkit-transition-duration: 3600ms;
          transition-duration: 3600ms;
  -webkit-transition-delay: 700ms;
          transition-delay: 700ms;
}

div.work-grid div.transition.loaded::after {
  -webkit-transform: scale3d(1, 0, 1);
          transform: scale3d(1, 0, 1);
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
  -webkit-transition-delay: 700ms;
          transition-delay: 700ms;
}

div.work-grid a {
  margin-top: 6px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-transition: -webkit-transform 180ms;
  transition: -webkit-transform 180ms;
  transition: transform 180ms;
  transition: transform 180ms, -webkit-transform 180ms;
  -webkit-transform-origin: center;
          transform-origin: center;
  text-decoration: none;
  overflow-x: hidden;
}

div.work-grid a.work-item {
  border: 2.5px solid var(--oppositeModeBackground);
  position: relative;
}

div.work-grid a.work-item .media {
  width: 100%;
  height: 19em;
}

div.work-grid a.work-item .media:not(iframe) {
  -o-object-fit: cover;
     object-fit: cover;
}

div.work-grid a.work-item .project-text-container {
  padding: 10px 12px;
  border-top: 2.5px solid var(--oppositeModeBackground);
  -webkit-transition: -webkit-transform 260ms;
  transition: -webkit-transform 260ms;
  transition: transform 260ms;
  transition: transform 260ms, -webkit-transform 260ms;
}

div.work-grid a.work-item .project-text-container h2 {
  margin-bottom: 0.3em;
}

div.work-grid a.work-item .project-text-container p {
  font-family: monospace;
}

div.work-grid a:hover, div.work-grid a.intersected {
  color: var(--backgroundColor);
  background-color: var(--oppositeModeBackground);
  -webkit-transform: translate(0, -6px);
          transform: translate(0, -6px);
}

div.work-grid a:hover h2, div.work-grid a.intersected h2 {
  -webkit-transform: skew(-11deg);
          transform: skew(-11deg);
}

div.work-grid a:hover .project-text-container, div.work-grid a.intersected .project-text-container {
  -webkit-transform: translate(0, -3px);
          transform: translate(0, -3px);
}

@media (max-width: 1140px) {
  div.work-grid {
    grid-gap: 3.2em;
  }
  div.work-grid a.work-item .media {
    height: 16em;
  }
}

@media (max-width: 980px) {
  div.work-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3.4em;
  }
  div.work-grid a.work-item .media {
    height: 17em;
  }
}

@media (max-width: 700px) {
  div.work-grid {
    grid-gap: 2.8em;
  }
}

@media (max-width: 580px) {
  div.work-grid {
    margin-top: 45px;
    grid-template-columns: repeat(1, 1fr);
  }
  div.work-grid a.work-item .media {
    height: 18em;
  }
}

@media (max-width: 400px) {
  div.work-grid a.work-item .media {
    height: 15em;
  }
}
