div.work-grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.6em;
}

div.work-grid a {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-transition: -webkit-transform 180ms;
  transition: -webkit-transform 180ms;
  transition: transform 180ms;
  transition: transform 180ms, -webkit-transform 180ms;
  -webkit-transform-origin: center;
          transform-origin: center;
  text-decoration: none;
  overflow-x: hidden;
}

div.work-grid a.work-item {
  position: relative;
}

div.work-grid a.work-item::after {
  content: ":-)";
  color: var(--textColor);
  font-size: 6em;
  font-weight: bold;
  position: absolute;
  top: 37%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}

div.work-grid a.work-item .media {
  width: 100%;
  height: 19em;
}

div.work-grid a.work-item .media:not(iframe) {
  -o-object-fit: cover;
     object-fit: cover;
}

div.work-grid a.work-item .project-text-container {
  padding: 10px 12px;
  background-color: var(--linkBackgroundColor-fallback);
  background-color: var(--linkBackgroundColor);
  -webkit-transition: -webkit-transform 260ms;
  transition: -webkit-transform 260ms;
  transition: transform 260ms;
  transition: transform 260ms, -webkit-transform 260ms;
}

div.work-grid a.work-item .project-text-container h2 {
  margin-bottom: 0.3em;
}

div.work-grid a.work-item .project-text-container p {
  font-family: monospace;
}

div.work-grid a:hover, div.work-grid a.intersected {
  color: var(--backgroundColor);
  -webkit-transform: translate(0, -6px);
          transform: translate(0, -6px);
}

div.work-grid a:hover h2, div.work-grid a.intersected h2 {
  -webkit-transform: skew(-11deg);
          transform: skew(-11deg);
}

div.work-grid a:hover .project-text-container, div.work-grid a.intersected .project-text-container {
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
  background-color: var(--textColor);
}

div.work-grid a:hover .project-text-container h2, div.work-grid a:hover .project-text-container p, div.work-grid a.intersected .project-text-container h2, div.work-grid a.intersected .project-text-container p {
  color: var(--backgroundColor);
}

@media (max-width: 1140px) {
  div.work-grid {
    grid-gap: 3.2em;
  }
  div.work-grid a.work-item .media {
    height: 16em;
  }
}

@media (max-width: 980px) {
  div.work-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3.4em;
  }
  div.work-grid a.work-item .media {
    height: 17em;
  }
}

@media (max-width: 700px) {
  div.work-grid {
    grid-gap: 2.8em;
  }
}

@media (max-width: 580px) {
  div.work-grid {
    margin-top: 45px;
    grid-template-columns: repeat(1, 1fr);
  }
  div.work-grid a.work-item .media {
    height: 18em;
  }
}

@media (max-width: 400px) {
  div.work-grid a.work-item .media {
    height: 15em;
  }
}
