body {
    font-family: helvetica neue, helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: #333;
    -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

h1::selection, span.stretch::selection, h2::selection, h3::selection, p::selection, a::selection {
    background: #f4cb3d;
}

a, a:visited {
    text-decoration: none;
    color: #333;
    display: inline-block;
    background-color: #eee;
    background-color: rgb(225, 225, 225, 0.8);
    padding: 0 0.2em;
    line-height: normal;
}

a:hover {
    color: #fff;
    background-color: #333;
}

html.dark body {
    color: #fff;
    background-color: #212121;
    min-height: calc(100vh - 89px); /* safari fix */
}

html.dark a {
    color: #fff;
    background-color: #4a4a4a;
    background-color: rgb(225, 225, 225, 0.2);
}

html.dark a:hover {
    color: #212121;
    background-color: #eee;
}


@media (max-width: 769px) {
    body {
        font-size: 13px;
    }
    html.dark body {
        min-height: calc(100vh - 59px);
    }
}
