:root {
    --textColor: #333333;
    --backgroundColor: #ffffff;
    --linkBackgroundColor: #eeeeee;
    --linkBackgroundColor2: rgb(225, 225, 225, 0.8);
    --darkModeBackground: #212121;
}

:root.dark {
    --textColor: #ffffff;
    --backgroundColor: #212121;
    --linkBackgroundColor: #4a4a4a;
    --linkBackgroundColor2: rgb(225, 225, 225, 0.2);
}

body {
    font-family: helvetica neue, helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: var(--textColor);
    background-color: var(--backgroundColor);
    -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    margin: 45px;
}

:root.dark body {
    min-height: calc(100vh - 89px); /* safari fix */
}

h1::selection, span.stretch::selection, h2::selection, h3::selection, p::selection, a::selection {
    background: #f4cb3d;
}

a, a:visited {
    text-decoration: none;
    color: var(--textColor);
    display: inline-block;
    background-color: var(--linkBackgroundColor);
    background-color: var(--linkBackgroundColor2);
    padding: 0 0.2em;
    line-height: normal;
}

a:hover {
    color: var(--backgroundColor);
    background-color: var(--textColor);
}


@media (max-width: 769px) {
    body {
        font-size: 13px;
    }
    :root.dark body {
        min-height: calc(100vh - 59px); /* safari fix */
    }
}
