.cursor-container {
    position: fixed;
    z-index: -1;
    top: -1rem;
    left: -1rem;
    pointer-events: none;
    transform: translate(-5rem, -5rem);
    transition: transform 35ms;
}

.cursor, .cursor-inner {
    position: fixed;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
}

.cursor {
    background-color: #757575;
    transform: scale(1);
    transition: transform 420ms cubic-bezier(1, 0.1, 0.1, 1);
}

.cursor-inner {
    background-color: var(--backgroundColor);
    transform: scale(0);
    transition: transform 780ms cubic-bezier(1, 0.1, 0.1, 1) 250ms;
}

.cursor-container.large .cursor {
    transform: scale(2);
}

.cursor-container.small .cursor {
    transform: scale(0.5);
}

.cursor-container.hide .cursor {
    transform: scale(0);
}

.cursor-container.transition,
.cursor-container.transition-small,
.cursor-container.hide {
    z-index: 5;
}

.cursor-container.transition .cursor,
.cursor-container.transition .cursor-inner {
    transform: scale(var(--vmaxRatio)) translate(1%, 1%);
}

.cursor-container.transition-small .cursor {
    transform: scale(1.25);
}

.cursor-container.transition-small .cursor-inner {
    transform: scale(1.28);
}


@media (ponter: coarse) {
    .cursor-container, .cursor, .cursor-inner {
        display: none;
    }
}
