.cursor, .cursor-inner {
    display: block;
    position: fixed;
    pointer-events: none;
    top: -5rem;
    left: -5rem;

    border-radius: 100%;
    width: 2rem;
    height: 2rem;
}

.cursor {
    z-index: -1;
    background-color: #757575;

    transform: scale(1) translate(-50%, -50%);
    transform-origin: top left;
    transition: transform 420ms cubic-bezier(1, 0.1, 0.1, 1), top 35ms, left 35ms;
}

.cursor.hide, .cursor.large.hide {
    z-index: 1;
    transform: scale(0) translate(-50%, -50%);
}

.cursor.small {
    transform: scale(0.5) translate(-50%, -50%);
}

.cursor.large {
    transform: scale(2) translate(-50%, -50%);
}

.cursor-inner {
    background-color: #ffffff;

    transform: scale(0) translate(-50%, -50%);
    transform-origin: top left;
    transition: transform 750ms cubic-bezier(1, 0.1, 0.1, 1) 250ms;
}

html.dark .cursor-inner {
    background-color: #212121;
}

.cursor.transition,
.cursor.transition ~ .cursor-inner {
    z-index: 5;
    transform: scale(var(--vmaxRatio)) translate(-50%, -50%);
}


@media (ponter: coarse) {
    .cursor-container, .cursor, .cursor-inner {
        display: none;
    }
}
