.cursor-container {
    position: fixed;
    z-index: -1;
    top: -1rem;
    left: -1rem;
    pointer-events: none;
    transition: transform 38ms;

    .cursor, .cursor-inner {
        position: fixed;
        border-radius: 100%;
        width: 2rem;
        height: 2rem;
        transform: scale(0);
    }

    .cursor {
        background-color: #757575;
        transition: transform 430ms cubic-bezier(1, 0.1, 0.1, 1);
    }

    .cursor-inner {
        background-color: var(--backgroundColor);
        transition: transform 800ms cubic-bezier(1, 0.1, 0.1, 1) 220ms;
    }

    &.show .cursor {
        transform: scale(1);
    }

    &.small .cursor {
        transform: scale(0.5);
    }

    &.large .cursor {
        transform: scale(2.2);
    }

    &.x-large .cursor {
        transform: scale(3.3);
    }

    &.hide .cursor {
        transform: scale(0);
    }

    &.hide, &.transition, &.over {
        opacity: 0.6;
        z-index: 10;
    }

    &.transition {
        opacity: 1;

        .cursor {
            transform: scale(1.33);
        }

        .cursor-inner {
            transform: scale(1.35);
        }
    }

    &.dark-mode-toggle .cursor {
        background-color: var(--textColor);
    }

    @media (ponter: coarse) {
        display: none;
    }
}


.transition-blocker {
    height: 100vh;
    width: 100vw;
    background-color: var(--backgroundColor);
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    transform: scale(1, 0);
    transition: transform 800ms cubic-bezier(1, 0.1, 0.1, 1) 220ms;
    transform-origin: top;

    &.active {
        transform: scale(1, 1);
    }
}