@font-face {
    font-family: "Untitled Sans";
    font-weight: normal;
    font-display: block;
    src: url("../fonts/UntitledSansWeb-Regular.woff2")
}

@font-face {
    font-family: "Untitled Sans";
    font-weight: bold;
    font-display: block;
    src: url("../fonts/UntitledSansWeb-Medium.woff2")
}

:root {
    --textColor: #333333;
    --backgroundColor: #ffffff;
    --linkBackgroundColor: #eeeeee;
    --linkBackgroundColor2: rgba(225, 225, 225, 0.8);
    --oppositeModeBackground: #212121;

    &.dark {
        --textColor: #ffffff;
        --backgroundColor: #212121;
        --linkBackgroundColor: #4a4a4a;
        --linkBackgroundColor2: rgba(225, 225, 225, 0.2);
        --oppositeModeBackground: #ffffff;
    }
}

body {
    font-family: "Untitled Sans", helvetica neue, helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: var(--textColor);
    background-color: var(--backgroundColor);
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    margin: 35px;

    h1, h2, h3 {
        font-weight: bold;
        transform: scale(1.03, 1);
        transform-origin: left;

        a {
            text-decoration: underline;
            padding: 0;
            background: none;

            &:hover {
                background: none;
            }
        }
    }

    h3, p {
        margin-top: 1em;
    }

    h1 {
        font-size: 3em;
        margin-right: 1em;
    }

    h3 {
        font-size: 1.22em;
    }

    header, section {
        margin-bottom: 50px;
    }

    nav {
        margin-top: 15px;

        a:not(:last-child) {
            margin-right: 0.66em;
        }
    }

    a, a:visited {
        text-decoration: none;
        color: var(--textColor);
        display: inline-block;
        background-color: var(--linkBackgroundColor);
        background-color: var(--linkBackgroundColor2);
        padding: 0 0.2em;
        line-height: normal;

        &:hover {
            color: var(--backgroundColor);
            background-color: var(--textColor);
        }
    }

    *::selection {
        background: #f4cb3d;
    }

    *:focus {
        outline: none;
    }

    @media (max-width: 769px) {
        margin: 30px;
        font-size: 13px;

        h1 {
            font-size: 2.6em;
        }
        header {
            margin-bottom: 45px;
        }
        nav {
            margin-top: 12px;
        }
    }
}


.dark-mode-button {
    cursor: pointer;

    &::before {
        content: "dark";
    }

    @at-root :root.dark .dark-mode-button::before {
        content: "light";
    }
}

span.translate {
    display: inline-block;
    transform-origin: left;
    transition: transform 200ms;

    @at-root a:hover span.em-dash {
        transform: translate(0.2em);
        color: var(--oppositeModeBackground);
    }

    @media (pointer:coarse) {
        transition: transform 50ms;
    }
}


@media (pointer:coarse) {
    a:not([href]):hover {
        color: var(--textColor);
        background-color: var(--linkBackgroundColor);
        background-color: var(--linkBackgroundColor2);
    }
}
