h1, h2, h3, p {
    margin-bottom: 0;
}

span.stretch {
    display: inline-block;
    transform: scale(1.1, 1);
    transform-origin: left;
}

header p {
    line-height: 1.6;
}

details {
    margin-top: 1.6em;
}

summary {
    cursor: pointer;
    width: max-content;
}

summary h3 {
    display: inline;
}

details >:not(summary) {
    margin-left: 1.3em;
}

a.bg-parent:hover img.bg-child {
    z-index: -1;
    clip-path: circle(36vh at center); -webkit-clip-path: circle(36vh at center);
}

img.bg-child {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 80vh;
    height: 80vh;
    opacity: 0.9;
    z-index: -2;
    clip-path: circle(0% at center); -webkit-clip-path: circle(0% at center);
    transition: clip-path 430ms cubic-bezier(1, 0.1, 0.1, 1), -webkit-clip-path 430ms cubic-bezier(1, 0.1, 0.1, 1);
    pointer-events: none;
}

.made a {
    display: block;
    width: max-content;
    margin-top: 1em;
}

.dark-mode-button {
    cursor: pointer;
}

.dark-mode-button::before {
    content: "dark";
}

:root.dark .dark-mode-button::before {
    content: "light";
}

.dark-mode-button img.bg-child {
    background-color: var(--oppositeModeBackground);
    opacity: 1;
}

a.bg-parent.dark-mode-button.hide-bg img.bg-child {
    clip-path: circle(0% at center); -webkit-clip-path: circle(0% at center);
    transition: clip-path 600ms cubic-bezier(1, 0.1, 0.1, 1), -webkit-clip-path 600ms cubic-bezier(1, 0.1, 0.1, 1);
}


@media (max-width: 400px) {
    header p {
        max-width: 240px;
    }
}

@media (pointer: coarse), (max-width: 500px), (max-height: 400px) {
    span.stretch {
        transition: transform 80ms;
    }
    img.bg-child {
        display: none;
    }
}
