h1, h2, h3, p {
    -webkit-margin-after: 0;
}

header p {
    line-height: 1.5;
}

span.stretch {
    display: inline-block;
    transform: scale(1.1, 1);
    transform-origin: left;
}

img.bg {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 80vh;
    height: 80vh;
    opacity: 0.9;
    z-index: -2;
    clip-path: circle(0% at center); -webkit-clip-path: circle(0% at center);
    transition: clip-path 430ms cubic-bezier(1, 0.1, 0.1, 1), -webkit-clip-path 430ms cubic-bezier(1, 0.1, 0.1, 1);
    pointer-events: none;
}

.made a {
    display: flex;
    width: max-content;
    margin-top: 1em;
}

.made a:hover img {
    z-index: -1;
    clip-path: circle(36vh at center);
    -webkit-clip-path: circle(36vh at center);
}

.dark-mode-button {
    cursor: pointer;
}

.dark-mode-button::before {
    content: "dark";
    margin-right: 5px;
}

:root.dark .dark-mode-button::before {
    content: "light";
}

.dark-mode-button img.bg {
    background-color: var(--oppositeModeBackground);
    opacity: 1;
}

.dark-mode-button.hide-bg img.bg {
    clip-path: circle(0% at center); -webkit-clip-path: circle(0% at center);
    transition: clip-path 600ms cubic-bezier(1, 0.1, 0.1, 1), -webkit-clip-path 600ms cubic-bezier(1, 0.1, 0.1, 1);
}


@media (max-width: 485px) {
    header p {
        max-width: 275px;
    }
}

@media (pointer: coarse), (max-width: 500px), (max-height: 400px) {
    span.stretch {
        transition: transform  100ms;
    }
    img.bg {
        display: none;
    }
}
