details {
    margin-top: 1.6em;

    summary {
        cursor: pointer;
        width: max-content;

        h3 {
            text-decoration: underline;
            display: inline;

            &::after {
                font-size: 0.7em;
            }
        }

        &::-webkit-details-marker {
            display:none;
        }
    }

    &[open] summary h3::after {
        content: "[close]";
    }
}

main {
    section {
        h1 {
            margin: 70px 0 50px 0;
        }

        div.preview-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: start;

            a {
                padding: 0;
                background: none;
                transition: transform 70ms;

                &:not(:last-child) {
                    margin-right: 60px;
                }

                img {
                    width: 300px;
                    height: 170px;
                    object-fit: cover;
                }

                div.project-text-container {
                    margin-top: -3px;
                    padding: 10px;

                    background-color: var(--linkBackgroundColor);
                    background-color: var(--linkBackgroundColor2);

                    h4 {
                        font-size: 1.27em;
                    }

                    p {
                        margin-top: 0.4em;
                    }
                }

                &:hover {
                    background: none;

                    transform: translate(0, -6px);
                }
            }
        }
    }

    section.work {
        div.projects-preview-container {

            img {

            }
        }
    }

    section.photos {
        div.photos-preview-container {

            img {

            }
        }
    }
}