details {
    margin-top: 1.6em;

    summary {
        cursor: pointer;
        width: max-content;

        h3 {
            text-decoration: underline;
            display: inline;

            &::after {
                font-size: 0.7em;
            }
        }

        &::-webkit-details-marker {
            display:none;
        }
    }

    p {
        margin-top: 0.7em;
    }

    &[open] summary h3::after {
        content: "[close]";
    }
}

main {
    section {
        h1 {
            margin: 70px 0 30px 0;
        }

        div.preview-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: start;

            a.work-item {
                margin-top: 20px;
                padding: 0;
                background: none;
                transition: transform 80ms;

                --imageWidth: 280px;
                max-width: var(--imageWidth);

                &:not(:last-child) {
                    margin-right: 55px;
                }

                img {
                    width: var(--imageWidth);
                    height: calc(var(--imageWidth) * 0.9);
                    object-fit: cover;
                }

                div.project-text-container {
                    margin-top: -5px;
                    padding: 10px;

                    background-color: var(--linkBackgroundColor);
                    background-color: var(--linkBackgroundColor2);

                    h4 {
                        font-size: 1.34em;
                    }

                    p {
                        margin-top: 0.3em;
                    }
                }

                &:hover {
                    background: none;

                    transform: translate(0, -6px);
                }
            }
        }
    }
}