div.work-grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3.6em;

    a {
        display: flex;
        flex-direction: column;
        transition: transform 180ms;
        transform-origin: center;
        text-decoration: none;

        &.work-item {
            position: relative;

            &::after {
                content: ":-)";
                color: var(--textColor);
                font-size: 6em;
                font-weight: bold;
                position: absolute;
                top: 37%;
                left: 50%;
                z-index: -1;
                transform: translate(-50%, -50%);
            }

            .media {
                width: 100%;
                height: 19em;

                &:not(iframe) {
                    object-fit: cover;
                }
            }

            .project-text-container {
                padding: 10px;
                background-color: var(--linkBackgroundColor-fallback);
                background-color: var(--linkBackgroundColor);
                transition: transform 260ms;

                h2 {
                    margin-bottom: 0.2em;
                }
            }
        }

        &:hover,
        &.intersected {
            color: var(--backgroundColor);
            transform: translate(0, -6px);

            h2 {
                transform: skew(-11deg);
            }

            .project-text-container {
                transform: translate(0, -1.5px);
                background-color: var(--textColor);

                h2, p {
                    color: var(--backgroundColor);
                }
            }
        }
    }

    @media (max-width: 1140px) {
        grid-gap: 3.2em;

        a.work-item {
            .media {
                height: 16em;
            }
        }
    }

    @media (max-width: 980px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3.4em;

        a.work-item {
            .media {
                height: 17em;
            }
        }
    }

    @media (max-width: 700px) {
        grid-gap: 2.8em;
    }

    @media (max-width: 580px) {
        a.work-item {
            .media {
                height: 13em;
            }
        }
    }

    @media (max-width: 530px) {
        margin-top: 45px;
        grid-template-columns: repeat(1, 1fr);

        a.work-item {
            .media {
                height: 18em;
            }
        }
    }

    @media (max-width: 400px) {
        a.work-item {
            .media {
                height: 15em;
            }
        }
    }
}