div.work-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 18em);
    grid-gap: 3.6em;

    a {
        display: flex;
        flex-direction: column;
        transition: transform 200ms;
        transform-origin: center;
        text-decoration: none;

        img {
            width: 100%;
            height: 16em;
            object-fit: cover;
            transition: transform 2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
        }

        .project-text-container {
            height: 100%;
            padding: 10px;
            background-color: var(--linkBackgroundColor-fallback);
            background-color: var(--linkBackgroundColor);

            h2 {
                margin-bottom: 0.2em;
            }
        }

        &.work-item {
            position: relative;
            &::after {
                content: ":-)";
                color: var(--textColor);
                font-size: 6em;
                font-weight: bold;
                position: absolute;
                top: 37%;
                left: 50%;
                z-index: -1;
                transform: translate(-50%, -50%);
            }
        }

        &:hover {
            color: var(--backgroundColor);
            transform: translate(0, -6px);


            img {
                transform: translate(0, -100%);
                transition: transform 30s 3s;
            }

            .project-text-container {
                background-color: var(--textColor);

                h2 {
                    transform: skew(-11deg);
                }
            }
        }
    }

    @media (max-width: 1060px) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3.2em;
    }

    @media (max-width: 870px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3.6em;
    }

    @media (max-width: 700px) {
        grid-gap: 3em;

        a.work-item img {
            height: 14.5em;
        }
    }

    @media (max-width: 560px) {
        grid-gap: 2.2em;

        a.work-item img {
            height: 13em;
        }
    }

    @media (max-width: 450px) {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2.6em;

        a.work-item img {
            height: 14.5em;
        }
    }

    @media (max-width: 380px) {
        a.work-item img {
            height: 13.5em;
        }
    }
}